/* ------  ------ */
:root {
    --body_background: white;
    --body_color: black;
    --link_color: navy;
    --button_color: #d1d1cf;
    --container_color: #d1d1cf;
    --text_theme_color: #627a84;
  }
  
  [data-theme="dark"] {
    --body_background: rgb(30, 30, 30);
    --body_color: white;
    --link_color: cyan;
    --button_color: white;
    --container_color: rgb(40, 40, 40);
    --text_theme_color: #b5c8d1;
  }
  /* ------  ------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: Helvetica, sans-serif;
}

body {
    background: var(--body_background);
    color: var(--body_color);
    overflow: hidden;
    overflow-y: scroll;
}

App-link {
    color: var(--link_color);
}

* button {
    border: 0.2rem;
}