#skills {
    min-height: calc(100vh - 8rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.skillTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.skillsImgs {
    width: 100vw;
    max-width: 40rem;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

.skillImg {
    object-fit: cover;
    width: 5rem;
    min-width: 9rem;
    margin: auto;
    padding: 2.25rem 3rem;
}