#about {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 auto;
}

.aboutTitle {
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 0.2rem;
}

.aboutDesc {
    font-weight: 200;
    font-size: 1rem;
    max-width: 55rem;
    padding: 0.5rem 0rem;
}

.tabs {
    display: flex;
    margin: 20px 0 20px;
}

.tab-links {
    margin-right: 6rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: #627a84;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 130%;
}

.tab-contents ul li {
    /* list-style: none; */
    margin: 10px 0;
    font-size: 13px;
    margin: 1rem;
}
.tab-contents ul li span {
    /* color: #ff004f; */
    /* color: #b5c8d1; */
    color: var(--text_theme_color);
    font-size: 15px;
    font-weight: 600;
}
.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

@media screen and (max-width:720px) {
    .tabs {
        display: flex;
        margin: 30px 0 7px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 0 12px  0;
        scrollbar-width:thin;
        scrollbar-color: #888 #f1f1f1;
    }
    .tab-links {
        margin-right: 2rem;
        font-size: 1rem;
        font-weight: 500;
        flex-shrink: 0;
    }
}

@media screen and (max-width:480px) {
    #about {
        padding: 0 2rem 2rem;
    }
    .aboutTitle {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .aboutDesc {
        text-align: justify;
        font-size: 4vw;
    }
    .tab-contents ul li span {
        font-size: 3.7vw;
        font-weight: 600;
    }
    .tab-contents ul li {
        font-size: 3.5vw;
    }
    .tab-links {
        margin-right: 2rem;
        font-size: 4vw;
    }
    .tab-links.active-link::after {
        width: 100%;
    }
}