.footer {
    width: 100vw;
    height: 3rem;
    background: var(--container_color);
    font-size: smaller;
    font-weight: 100;
    text-align: center;
    align-items: center;
    justify-content:center;
    padding: 0.5rem;
}

.gmail {
    text-decoration:underline;
    color: var(--body_color);
}

.gmail:hover {
    cursor: pointer;
    color: #627a84;
}

.linkedIn {
    text-decoration:underline;
    color: var(--body_color);
}

.linkedIn:hover {
    cursor: pointer;
    color: #627a84;
}

@media screen and (max-width: 480px) {
    .footer {
        font-size: x-small;
    }
}